/**
 * Style Template: 
 * Created by RichardL33
 * Date: 05/01/15
 */
@import url();
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "futuralt";
  src: url('../fonts/Futura/FuturaLT_gdi.eot?1430717256');
  src: url('../fonts/Futura/FuturaLT_gdi.eot?&1430717256#iefix') format('embedded-opentype'), url('../fonts/Futura/FuturaLT_gdi.woff?1430717256') format('woff'), url('../fonts/Futura/FuturaLT_gdi.ttf?1430717256') format('truetype'), url('../fonts/Futura/FuturaLT_gdi.svg?1430717256') format('svg'); }
@font-face {
  font-family: "futuralt-light";
  src: url('../fonts/Futura/FuturaLT-Light_gdi.eot?1430717276');
  src: url('../fonts/Futura/FuturaLT-Light_gdi.eot?&1430717276#iefix') format('embedded-opentype'), url('../fonts/Futura/FuturaLT-Light_gdi.woff?1430717276') format('woff'), url('../fonts/Futura/FuturaLT-Light_gdi.ttf?1430717276') format('truetype'), url('../fonts/Futura/FuturaLT-Light_gdi.svg?1430717276') format('svg'); }
@font-face {
  font-family: "serif12";
  src: url('../fonts/Serif12/Serif12Beta-Regular.eot?1430717298');
  src: url('../fonts/Serif12/Serif12Beta-Regular.eot?&1430717298#iefix') format('embedded-opentype'), url('../fonts/Serif12/Serif12Beta-Regular.woff?1430717298') format('woff'), url('../fonts/Serif12/Serif12Beta-Regular.ttf?1430717298') format('truetype'), url('../fonts/Serif12/Serif12Beta-Regular.svg?1430717298') format('svg'); }
@font-face {
  font-family: "bryant-pro";
  src: url('../fonts/Bryantpro/bryantpro-regular-webfont.eot?1430894930');
  src: url('../fonts/Bryantpro/bryantpro-regular-webfont.eot?&1430894930#iefix') format('embedded-opentype'), url('../fonts/Bryantpro/bryantpro-regular-webfont.woff?1430894930') format('woff'), url('../fonts/Bryantpro/bryantpro-regular-webfont.ttf?1430894930') format('truetype'), url('../fonts/Bryantpro/bryantpro-regular-webfont.svg?1430894930') format('svg'); }
@font-face {
  font-family: "bryant-lt";
  src: url('../fonts/Bryantpro/bryantpro-light-webfont.eot?1430894940');
  src: url('../fonts/Bryantpro/bryantpro-light-webfont.eot?&1430894940#iefix') format('embedded-opentype'), url('../fonts/Bryantpro/bryantpro-light-webfont.woff?1430894940') format('woff'), url('../fonts/Bryantpro/bryantpro-light-webfont.ttf?1430894940') format('truetype'), url('../fonts/Bryantpro/bryantpro-light-webfont.svg?1430894940') format('svg'); }
@font-face {
  font-family: "futura-medium";
  src: url('../fonts/Futura/futura-medium.eot?1431161360');
  src: url('../fonts/Futura/futura-medium.eot?&1431161360#iefix') format('embedded-opentype'), url('../fonts/Futura/futura-medium.woff?1430900428') format('woff'), url('../fonts/Futura/futura-medium.ttf?1430900428') format('truetype'), url('../fonts/Futura/futura-medium.svg?1430900428') format('svg'); }
div,
section {
  *zoom: 1; }
  div:before,
  section:before, div:after,
  section:after {
    content: " ";
    display: table; }
  div:after,
  section:after {
    clear: both; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFBF7;
  color: #001219; }

nav
ul
li
a {
  color: #002D40;
  font-family: bryant-pro; }

a {
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

h1,
h2 {
  font-family: futuralt-light;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-family: bryant-pro;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

header {
  background-color: #000;
  height: 71px;
  position: fixed;
  z-index: 100;
  width: 100%; }
  @media (min-width: 600px) {
    header {
      background-color: transparent;
      position: relative; } }

button.cmn-toggle-switch.cmn-toggle-switch__htla {
  top: 15px;
  left: 10px; }
  @media (min-width: 600px) {
    button.cmn-toggle-switch.cmn-toggle-switch__htla {
      display: none; } }

.mobile_nav {
  background-color: #000; }
  .mobile_nav h2 {
    font-family: futura-medium;
    font-size: 1.9375em;
    background-color: #000;
    margin: 0;
    padding: 23px 0 23px 0;
    text-align: center; }
  .mobile_nav ul li {
    font-size: 24px;
    background-color: #011016;
    border-top: none;
    border-bottom: 1px solid #ffefdf; }
    .mobile_nav ul li:hover {
      background-color: #1F1F1F; }
    .mobile_nav ul li a:hover {
      color: #fcb614; }
    .mobile_nav ul li:nth-child(n+5) {
      border: none; }
  .mobile_nav input {
    background-color: #fffbf7;
    width: 80%;
    margin: 0 auto 10px; }

#sidr-right ul li:nth-child(2) {
  font-family: bryant-pro;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 15px;
  pointer-events: none; }
#sidr-right ul li:nth-child(5) {
  font-family: bryant-pro;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 15px;
  pointer-events: none; }
#sidr-right ul li:nth-child(6) {
  font-family: bryant-pro;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 15px;
  pointer-events: none; }
#sidr-right ul li a #phone_icon {
  padding: 0 20px 0 0;
  margin-bottom: -7px; }
#sidr-right ul li:first-child {
  padding: 8px 0 8px 2px; }

#browser_nav {
  display: none; }
  @media (min-width: 600px) {
    #browser_nav {
      display: block;
      float: right;
      margin-top: 30px; }
      #browser_nav ul li {
        display: inline-block;
        margin-right: 40px; } }
    @media (min-width: 600px) and (min-width: 768px) {
      #browser_nav ul li {
        margin-right: 70px; } }
  @media (min-width: 600px) {
        #browser_nav ul li a {
          color: #fff;
          font-family: futura-medium;
          font-size: 1em;
          letter-spacing: 2px;
          font-weight: bold; } }

#account_icon {
  position: absolute;
  right: 10px;
  top: 22px; }
  @media (min-width: 600px) {
    #account_icon {
      position: initial;
      float: right;
      margin: 20px 30px; } }

#eg_logo {
  display: block;
  margin: -24px auto 0; }
  @media (min-width: 600px) {
    #eg_logo {
      margin: 10px 18px;
      float: left; } }

@media (min-width: 600px) {
  .hero_section {
    padding-bottom: 89px; } }
@media (min-width: 768px) {
  .hero_section {
    padding-top: 56px; } }

.hero_text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  z-index: 1; }
  @media (min-width: 600px) {
    .hero_text {
      margin-top: 0px;
      position: relative; } }
  .hero_text h1 {
    font-size: 3.75em;
    color: #FFF;
    margin: 12px 0 0 0; }
    .hero_text h1:last-of-type {
      padding-top: 12px;
      margin: 0 auto; }
      @media (min-width: 480px) {
        .hero_text h1:last-of-type {
          padding-top: 0px; } }
      @media (min-width: 600px) {
        .hero_text h1:last-of-type {
          padding-top: 7px;
          margin: -10px 0 5px 0; } }
    @media (min-width: 480px) {
      .hero_text h1 {
        font-size: 2.75em; } }
    @media (min-width: 600px) {
      .hero_text h1 {
        font-size: 5em;
        margin-bottom: -12px; } }
    @media (min-width: 768px) {
      .hero_text h1 {
        font-size: 7.5em; } }
  .hero_text hr {
    border: 1px solid #fcb614;
    width: 68%; }
    @media (min-width: 480px) {
      .hero_text hr {
        width: 40%; } }
  .hero_text h3 {
    font-size: 1.125em;
    color: #FFF;
    padding-top: 15px;
    margin: 0 auto;
    width: 160px; }
    @media (min-width: 480px) {
      .hero_text h3 {
        font-size: 1em;
        padding-top: 10px;
        width: 170px; } }
    @media (min-width: 600px) {
      .hero_text h3 {
        font-size: 1.125em;
        width: 260px; } }

#hero_mobile {
  width: 100%;
  position: fixed;
  z-index: 0;
  max-height: 515px; }
  @media (min-width: 480px) {
    #hero_mobile {
      display: none; } }

#hero_stand {
  display: none; }
  @media (min-width: 480px) {
    #hero_stand {
      display: block;
      width: 100%;
      position: fixed;
      z-index: 0; } }
  @media (min-width: 600px) {
    #hero_stand {
      top: 0; } }

.section_one {
  background-color: #FFFBF7;
  border-bottom: 1px solid #010608;
  position: relative;
  margin-top: 467px;
  width: 100%;
  z-index: 1; }
  @media (min-width: 480px) {
    .section_one {
      margin-top: 306px; } }
  @media (min-width: 600px) {
    .section_one {
      margin-top: 0; } }
  @media (min-width: 768px) {
    .section_one {
      padding-bottom: 93px;
      border-bottom: none; } }

.sect_details {
  width: 49%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 55px; }
  @media (min-width: 480px) {
    .sect_details {
      margin-top: 85px; } }
  @media (min-width: 600px) {
    .sect_details {
      margin-top: 80px; } }
  @media (min-width: 768px) {
    .sect_details {
      margin-top: 130px; } }
  .sect_details h3 {
    font-size: 1em; }
    @media (min-width: 600px) {
      .sect_details h3 {
        font-size: 1.65em; } }
  .sect_details h2 {
    font-size: 1.5em;
    word-spacing: 5px; }
    @media (min-width: 480px) {
      .sect_details h2 {
        font-size: 2em;
        font-weight: bold; } }
    @media (min-width: 600px) {
      .sect_details h2 {
        font-size: 2.65em;
        padding-bottom: 5px; } }
    @media (min-width: 768px) {
      .sect_details h2 {
        font-size: 3.65em; } }
  .sect_details hr {
    border-top: 1px solid #010608;
    width: 55%; }
    @media (min-width: 480px) {
      .sect_details hr {
        width: 80%; } }
    @media (min-width: 600px) {
      .sect_details hr {
        border: 1.5px solid #010608;
        width: 72%; } }
  .sect_details h4 {
    display: none; }
    @media (min-width: 768px) {
      .sect_details h4 {
        display: block;
        font-size: 1.125em;
        font-family: bryant-pro;
        -webkit-font-smoothing: antialiased;
        width: 264px;
        margin: 20px auto; } }

#arch {
  display: none; }
  @media (min-width: 600px) {
    #arch {
      display: block;
      width: 17%;
      margin: 0 auto 10px; } }

#back_boot {
  width: 49%;
  float: right;
  vertical-align: top; }
  @media (min-width: 600px) {
    #back_boot {
      width: 51%; } }

.section_two {
  position: relative;
  z-index: 1;
  background-color: #FFFBF7; }

.sect_history {
  margin: 15px auto;
  text-align: center; }
  @media (min-width: 480px) {
    .sect_history {
      margin: 30px auto; } }
  .sect_history h2 {
    font-size: 1.3125em;
    width: 221px;
    margin: 0 auto; }
    @media (min-width: 600px) {
      .sect_history h2 {
        width: 384px;
        margin: 0 0 0 10px;
        font-size: 1.3125em;
        letter-spacing: 1px; } }
    @media (min-width: 768px) {
      .sect_history h2 {
        width: 423px;
        margin: 0 0 0 31px;
        letter-spacing: 2.25px; } }
    .sect_history h2:last-child {
      padding-top: 5px; }
  .sect_history hr {
    display: none; }
    @media (min-width: 600px) {
      .sect_history hr {
        display: block;
        width: 30%;
        float: right;
        margin-top: -12px;
        border: 1.5px solid #001219; } }
    @media (min-width: 768px) {
      .sect_history hr {
        width: 40%; } }

#history_mobile {
  width: 100%; }
  @media (min-width: 600px) {
    #history_mobile {
      display: none; } }

#history_desktop {
  display: none; }
  @media (min-width: 600px) {
    #history_desktop {
      display: block;
      text-align: center;
      margin-top: 55px;
      margin-bottom: 84px; }
      #history_desktop img {
        display: inline-block;
        margin: 0 1%;
        vertical-align: top; } }
  #history_desktop #history_1 {
    width: 31.5%;
    margin-top: 20px; }
  #history_desktop #history_2 {
    width: 36%; }
  #history_desktop #history_3 {
    width: 19.5%;
    margin-top: 20px; }

.sect_shoe {
  position: relative;
  margin-top: -2px; }
  .sect_shoe #shoe_shine {
    width: 100%; }
  .sect_shoe #steps_ellipse {
    position: absolute;
    top: -1px;
    left: -16px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 45%; }
    @media (min-width: 600px) {
      .sect_shoe #steps_ellipse {
        width: 20%;
        margin: 0;
        top: 64px;
        left: 84px; } }

.section_three {
  position: relative;
  z-index: 1;
  background-color: #FFFBF7; }

.sect_ambassador {
  width: 100%;
  margin: 28px auto;
  text-align: center; }
  @media (min-width: 600px) {
    .sect_ambassador {
      float: left;
      width: 47%;
      margin-top: 56px; } }
  @media (min-width: 768px) {
    .sect_ambassador {
      width: 41%;
      margin-top: 192px; } }
  .sect_ambassador h2 {
    font-size: 1.5em; }
  .sect_ambassador h1 {
    margin: 0;
    font-size: 6.25em;
    letter-spacing: 7px; }
  .sect_ambassador hr {
    border: 1px solid #010608;
    width: 68%; }
  .sect_ambassador h3 {
    width: 269px;
    margin: auto;
    font-size: 1.125em;
    line-height: 21px;
    padding-top: 5px;
    text-transform: none; }

#style_pic1_mobile {
  width: 100%; }
  @media (min-width: 600px) {
    #style_pic1_mobile {
      display: none; } }

#style_pic2_mobile {
  width: 100%;
  margin-top: -3px; }
  @media (min-width: 600px) {
    #style_pic2_mobile {
      display: none; } }

#style_desktop {
  display: none; }
  @media (min-width: 600px) {
    #style_desktop {
      display: block;
      float: right;
      width: 50%;
      padding: 75px 0 85px; } }
  @media (min-width: 768px) {
    #style_desktop {
      width: 58%; } }
  #style_desktop #style_1 {
    width: 42%;
    margin-right: 4%;
    float: left;
    margin-top: 64px; }
  #style_desktop #style_2 {
    width: 51%;
    float: right; }

footer {
  margin-top: -2px;
  padding: 38px 0 54px 0;
  background-color: #FCE9D5;
  position: relative;
  z-index: 1; }
  @media (min-width: 600px) {
    footer {
      padding: 0; } }
  footer h3 {
    background-color: #002D40;
    padding: 10px;
    width: 152px;
    margin: 0 auto;
    text-align: center; }
    @media (min-width: 600px) {
      footer h3 {
        display: none; } }
    footer h3 a {
      color: #fff;
      font-family: futura-medium;
      font-size: 1.1325em; }
      footer h3 a:hover {
        color: #FCB614; }
  footer nav {
    width: 70%;
    margin: 50px auto 0;
    text-align: center; }
    @media (min-width: 600px) {
      footer nav {
        text-align: left;
        margin: 0;
        width: auto;
        padding: 20px 0 20px 32px; } }
    footer nav ul li {
      display: inline-block;
      border-right: 1px solid #002d40;
      padding: 0 10px 0 5px; }
      @media (min-width: 600px) {
        footer nav ul li {
          padding: 0 7px 0 0; } }
      footer nav ul li:nth-child(even) {
        border: none;
        padding-right: 0; }
        @media (min-width: 600px) {
          footer nav ul li:nth-child(even) {
            border-right: 1px solid #002d40;
            padding: 0 7px 0 0; } }
      footer nav ul li:nth-child(-n+2) {
        margin-bottom: 15px; }
        @media (min-width: 600px) {
          footer nav ul li:nth-child(-n+2) {
            margin-bottom: 0; } }
      footer nav ul li a {
        font-size: 1.3125em; }
        @media (min-width: 600px) {
          footer nav ul li a {
            font-size: 1.125em; } }
      @media (min-width: 600px) {
        footer nav ul li:first-child {
          padding-left: 0; } }
      @media (min-width: 600px) {
        footer nav ul li:last-child {
          padding-right: 0;
          border-right: none; } }
      @media screen and (min-width: 510px) {
        footer nav ul li:nth-child(2) {
          border-right: 1px solid #002d40;
          padding-right: 7px; } }
