/**
 * Style Template: 
 * Created by RichardL33
 * Date: 05/01/15
 */

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";
@import "normalize";
@import "breakpoint";
@import "_partials/_breakpoints.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";
@import "_partials/typography.scss";

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;

* {
@include box-sizing(border-box);

	// <-- GHOST CSS -->
	// background: #000 !important;
	// color: #0f0 !important;
	// outline: solid #f00 1px !important;

}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFFBF7;
	color: #001219;
}

div,
section {
	@extend %clearfix;
}

a {
	text-decoration: none;
}

h1,
h2 {
	font-family: futuralt-light;
}

h3 {
	font-family: bryant-pro;
}

header {
	background-color: #000;
	height: 71px;
}

#account_icon {
	position: absolute;
	right: 10px;
	top: 22px;
}

.mobile_nav > h2 {
	margin: 0;
	padding: 22px 0 28px 30px;
}

button.cmn-toggle-switch.cmn-toggle-switch__htla {
	top: 15px;
	left: 10px;
}

#eg_logo {
	display: block;
	margin: -24px auto 0;
}

.hero_text {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 72%;

}

#hero_mobile {
	width: 100%;
}






