/**
 * Style Template: 
 * Created by RichardL33
 * Date: 05/01/15
 */

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";
@import "normalize";
@import "breakpoint";
@import "_partials/_breakpoints.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";
@import "_partials/typography.scss";

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;

* {
@include box-sizing(border-box);

	// <-- GHOST CSS -->
	// background: #000 !important;
	// color: #0f0 !important;
	// outline: solid #f00 1px !important;

}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFFBF7;
	color: #001219;
}

div,
section {
	@extend %clearfix;
}

nav
ul
li
a {
	color: #002D40;
	font-family: bryant-pro;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

h1,
h2 {
	font-family: futuralt-light;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-family: bryant-pro;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

header {
	background-color: #000;
	height: 71px;
	position: fixed;
	z-index: 100;
	width: 100%;
	@include breakpoint($bp-600) {
		background-color: transparent;
		position: relative;
   }
}

// MOBILE NAV/MENUS

button.cmn-toggle-switch.cmn-toggle-switch__htla {
	top: 15px;
	left: 10px;
	@include breakpoint($bp-600) {
		display: none;
   }
}

.mobile_nav {
	background-color: #000;
	h2 {
		font-family: futura-medium;
		font-size: 1.9375em;
		background-color: #000;
		margin: 0;
		padding: 23px 0 23px 0;
		text-align: center;
	}
	ul {
		li {
			font-size: 24px;
			background-color: #011016;
			border-top: none;
			border-bottom: 1px solid #ffefdf;
			&:hover {
				background-color: #1F1F1F;
			}
			a {
				
				&:hover {
					color: #fcb614;
				}
			}
			&:nth-child(n+5) {
				border: none;
			}
		}
	}
	input {
		background-color: #fffbf7;
		width: 80%;
		margin: 0 auto 10px;
	}
}

#sidr-right {
	ul {
		li {
			&:nth-child(2) {
				font-family: bryant-pro;
				-webkit-font-smoothing: antialiased;
				text-transform: uppercase;
				font-size: 24px;
				padding:0 15px;
				pointer-events: none;
			}
			&:nth-child(5) {
				font-family: bryant-pro;
				-webkit-font-smoothing: antialiased;
				text-transform: uppercase;
				font-size: 24px;
				padding:0 15px;
				pointer-events: none;
			}
			&:nth-child(6) {
				font-family: bryant-pro;
				-webkit-font-smoothing: antialiased;
				text-transform: uppercase;
				font-size: 24px;
				padding:0 15px;
				pointer-events: none;
			}
			a {
				#phone_icon {
					padding: 0 20px 0 0;
					margin-bottom: -7px;
				}
			}
			&:first-child {
				padding: 8px 0 8px 2px;
			}
		}
	}
}


// MOBILE NAV/MENUS \\

#browser_nav {
	display: none;
	@include breakpoint($bp-600) {
		display: block;
		float: right;
		margin-top: 30px;
		ul {
			li {
				display: inline-block;
				margin-right: 40px;
				@include breakpoint($bp-tablet-portrait) {
					margin-right: 70px;
				}
				a {
					color: #fff;
					font-family: futura-medium;
					font-size: 1em;
					letter-spacing: 2px;
					font-weight: bold;
				}
			}
		}
   }
}

#account_icon {
	position: absolute;
	right: 10px;
	top: 22px;
	@include breakpoint($bp-600) {
	     position: initial;
	     float: right;
	     margin: 20px 30px;
	   }
}

#eg_logo {
	display: block;
	margin: -24px auto 0;
	@include breakpoint($bp-600) {
		margin: 10px 18px;
		float: left;
	   }
}

// HERO SECTION

.hero_section {
	@include breakpoint($bp-600) {
		padding-bottom: 89px;
	}
	@include breakpoint($bp-tablet-portrait) {
		padding-top: 56px;
	}
}

.hero_text {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
	z-index: 1;
	@include breakpoint($bp-600) {
	    margin-top: 0px; 
	    position: relative;
	}
	h1 {
		font-size: 3.75em;
		color: #FFF;
		margin: 12px 0 0 0;
		&:last-of-type {
			padding-top: 12px;
			margin: 0 auto;
			@include breakpoint($bp-mobile-landscape) {
				padding-top: 0px;
			}
			@include breakpoint($bp-600) {
				padding-top: 7px;
				margin: -10px 0 5px 0;
			}
		}
	@include breakpoint($bp-mobile-landscape) {
	     font-size: 2.75em;
	   }
   	@include breakpoint($bp-600) {
		font-size: 5em;
		margin-bottom: -12px;
      }
      @include breakpoint($bp-tablet-portrait) {
		font-size: 7.5em;
      }
	}
	hr {
		border: 1px solid #fcb614;
		width: 68%;
		@include breakpoint($bp-mobile-landscape) {
			width: 40%;
		}
	}
	h3 {
		font-size: 1.125em;
		color: #FFF;
		padding-top: 15px;
		margin: 0 auto;
		width: 160px;
		@include breakpoint($bp-mobile-landscape) {
			font-size: 1em;
			padding-top: 10px;
			width: 170px;
		}
	   	@include breakpoint($bp-600) {
			font-size: 1.125em;
			width: 260px;
	    }
	}
}

#hero_mobile {
	width: 100%;
	position: fixed;
	z-index: 0;
	max-height: 515px;
	@include breakpoint($bp-mobile-landscape) {
     display: none;
   }
}

#hero_stand {
	display: none;
	@include breakpoint($bp-mobile-landscape) {
		display: block;
		width: 100%;
		position: fixed;
		z-index: 0;
   }
   @include breakpoint($bp-600) {
		top: 0;
   }
}

// HERO SECTION \\

// SECTION ONE

.section_one {
	background-color: #FFFBF7;
	border-bottom: 1px solid #010608;
	position: relative;
	margin-top: 467px;
	width: 100%;
	z-index: 1;
	@include breakpoint($bp-mobile-landscape) {
		margin-top: 306px;
	}
   	@include breakpoint($bp-600) {
		margin-top: 0;
    }
    @include breakpoint($bp-tablet-portrait) {
    	padding-bottom: 93px;
    	border-bottom: none;
    }
}

.sect_details {
	width: 49%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 55px;
	@include breakpoint($bp-mobile-landscape) {
		margin-top: 85px;
   	}
   	@include breakpoint($bp-600) {
		margin-top: 80px;
   	}
   	@include breakpoint($bp-tablet-portrait) {
		margin-top: 130px;
   	}
	h3 {
		font-size: 1em;
		@include breakpoint($bp-600) {
			font-size: 1.65em;
		}
	}
	h2 {
		font-size: 1.5em;
		word-spacing: 5px;
		@include breakpoint($bp-mobile-landscape) {
		     font-size: 2em;
		     font-weight: bold;
		   }
		@include breakpoint($bp-600) {
			font-size: 2.65em;
			padding-bottom: 5px;
		}
		@include breakpoint($bp-tablet-portrait) {
			font-size: 3.65em;
		}
	}
	hr {
		border-top: 1px solid #010608;
		width: 55%;
		@include breakpoint($bp-mobile-landscape) {
		     width: 80%;
		   }
		@include breakpoint($bp-600) {
			border: 1.5px solid #010608;
			width: 72%;
		}
	}
	h4 {
		display: none;
		@include breakpoint($bp-tablet-portrait) {
			display: block;
			font-size: 1.125em;
			font-family: bryant-pro;
			-webkit-font-smoothing: antialiased;
		  	width: 264px;
			margin: 20px auto;
		}
	}
}

#arch {
	display: none;
	@include breakpoint($bp-600) {
 		display: block;
 		width: 17%;
 		margin: 0 auto 10px;
   	}
}

#back_boot {
	width: 49%;
	float: right;
	vertical-align: top;
	@include breakpoint($bp-600) {
     	width: 51%;
   	}
}

// SECTION ONE \\

// SECTION TWO

.section_two {
	position: relative;
	z-index: 1;
	background-color: #FFFBF7;
}

.sect_history {
	margin: 15px auto;
	text-align: center;
	@include breakpoint($bp-mobile-landscape) {
		margin: 30px auto;
   	}
	h2 {
		font-size: 1.3125em;
		width: 221px;
		margin: 0 auto;
		@include breakpoint($bp-600) { 
			width: 384px;
			margin: 0 0 0 10px;
			font-size: 1.3125em;
			letter-spacing: 1px;
		}
		@include breakpoint($bp-tablet-portrait) {
			width: 423px;
			margin: 0 0 0 31px;
			letter-spacing: 2.25px;
		}
		&:last-child {
			padding-top: 5px;
		}
	}
	hr {
		display: none;
		@include breakpoint($bp-600) { 
			display: block;
			width: 30%;
			float: right;
			margin-top: -12px;
			border: 1.5px solid #001219;
		}
		@include breakpoint($bp-tablet-portrait) {
			width: 40%;
		}
	}
}

#history_mobile {
	width: 100%;
	@include breakpoint($bp-600) {
		display: none;
	}
}

#history_desktop {
	display: none;
	@include breakpoint($bp-600) {
		display: block;
		text-align: center;
		margin-top: 55px;
		margin-bottom: 84px;
		img {
			display: inline-block;
			margin: 0 1%;
			vertical-align: top;
		}
	}
	#history_1 {
		width: 31.5%;
		margin-top: 20px;
	}
	#history_2 {
		width: 36%;
	}
	#history_3 {
		width: 19.5%;
		margin-top: 20px;
	}
}

.sect_shoe {
	position: relative;
	margin-top: -2px;
	#shoe_shine {
		width: 100%;
	}
	#steps_ellipse {
		position: absolute;
		top: -1px;
		left: -16px;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 45%;
		@include breakpoint($bp-600) {
			width: 20%;
			margin: 0;
			top: 64px;
			left: 84px;
		}
	}
}

// SECTION TWO \\

// SECTION THREE

.section_three {
	position: relative;
	z-index: 1;
	background-color: #FFFBF7;
}

.sect_ambassador {
	width: 100%;
	margin: 28px auto;
	text-align: center;
	@include breakpoint($bp-600) {
		float: left;
		width: 47%;
		margin-top: 56px;
	}
	@include breakpoint($bp-tablet-portrait) {
		width: 41%;
		margin-top: 192px;
	}
	h2 {
		font-size: 1.5em;
	}
	h1 {
		margin: 0;
		font-size: 6.25em;
		letter-spacing: 7px;
	}
	hr {
		border: 1px solid #010608;
		width: 68%;
	}
	h3 {
		width: 269px;
		margin: auto;
		font-size: 1.125em;
		line-height: 21px;
		padding-top: 5px;
		text-transform: none;
	}
}

#style_pic1_mobile {
	width: 100%;
	@include breakpoint($bp-600) {
		display: none;		
	}
}

#style_pic2_mobile {
	width: 100%;	
	margin-top: -3px;
	@include breakpoint($bp-600) {
		display: none;
	}
}

#style_desktop {
	display: none;
	@include breakpoint($bp-600) {
		display: block;
		float: right;
		width: 50%;
		padding: 75px 0 85px;
	}
	@include breakpoint($bp-tablet-portrait) {
		width: 58%;
	}
	#style_1 {
		width: 42%;
		margin-right: 4%;
		float: left;
		margin-top: 64px;
	}
	#style_2 {
		width: 51%;
		float: right;
	}
}

// SECTION THREE \\

// FOOTER

footer {
	margin-top: -2px;
	padding: 38px 0 54px 0;
	background-color: #FCE9D5;
	position: relative;
	z-index: 1;
	@include breakpoint($bp-600) {
		padding: 0;
	}
	h3 {
		background-color: #002D40;
		padding: 10px;
		width: 152px;
		margin: 0 auto;
		text-align: center;
		@include breakpoint($bp-600) {
			display: none;
		}
		a {
			color: #fff;
			font-family: futura-medium;
			font-size: 1.1325em;
			&:hover {
				color: #FCB614;
			}
		}
	}
	nav {
		width: 70%;
		margin: 50px auto 0;
		text-align: center;
		@include breakpoint($bp-600) {
			text-align: left;
			margin: 0;
			width: auto;
			padding: 20px 0 20px 32px;
		}
		ul {
			li {
				display: inline-block;
				border-right: 1px solid #002d40;
				padding: 0 10px 0 5px;
				@include breakpoint($bp-600) {
					padding: 0 7px 0 0;
				}
				&:nth-child(even) {
					border: none;
					padding-right: 0;
					@include breakpoint($bp-600) {
						border-right: 1px solid #002d40;
						padding: 0 7px 0 0;
					}
				}
				&:nth-child(-n+2) {
					margin-bottom: 15px;
					@include breakpoint($bp-600) {
						margin-bottom: 0;
					}
				}
				a {
					font-size: 1.3125em;
					@include breakpoint($bp-600) {
						font-size: 1.125em;
					}
				}
				&:first-child { 
					@include breakpoint($bp-600) {
						padding-left: 0;
					}
				}
				&:last-child { 
					@include breakpoint($bp-600) {
						padding-right: 0;
						border-right: none;
					}
				}
				&:nth-child(2) {
					@media screen and (min-width: 510px) {
						border-right: 1px solid #002d40;
						padding-right: 7px;
					}
				}
			}
		}
	}
}

// FOOTER \\

