#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6a19cb1d-8e4d-4271-be3f-459d00bbde17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}