#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_12 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_13 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_14 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_17 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_18 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_19 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_20 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_21 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_22 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_23 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_24 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_25 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_26 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Text_27 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #465D43;
  -ms-transform: rotate(0.0deg);
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df #s-Button-black_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 60px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f46885c3-90ed-4442-bec7-1f08c17885df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}