// _VARIABLES.SCSS

// FONTS

//font-face($name, $font-files, [$eot], [$weight], [$style])
@include font-face("akbold", font-files("../fonts/AKG/AkzidenzGroteskBQ-Bold_gdi.woff", "../fonts/AKG/AkzidenzGroteskBQ-Bold_gdi.ttf", "../fonts/AKG/AkzidenzGroteskBQ-Bold_gdi.svg"), "../fonts/AKG/AkzidenzGroteskBQ-Bold_gdi.eot");
@include font-face("akreg", font-files("../fonts/AKG/AkzidenzGroteskBQ-Reg_gdi.woff", "../fonts/AKG/AkzidenzGroteskBQ-Reg_gdi.ttf", "../fonts/AKG/AkzidenzGroteskBQ-Reg_gdi.svg"), "../fonts/AKG/AkzidenzGroteskBQ-Reg_gdi.eot");
@import url();

// BODY STYLES


$h1: '';
$p: '';
$main-color: #FFF;

// BUTTONS STYLES




