// _VARIABLES.SCSS

// FONTS

//font-face($name, $font-files, [$eot], [$weight], [$style])
@include font-face("futuralt", font-files("Futura/FuturaLT_gdi.woff", "Futura/FuturaLT_gdi.ttf", "Futura/FuturaLT_gdi.svg"), "Futura/FuturaLT_gdi.eot");
@include font-face("futuralt-light", font-files("Futura/FuturaLT-Light_gdi.woff", "Futura/FuturaLT-Light_gdi.ttf", "Futura/FuturaLT-Light_gdi.svg"), "Futura/FuturaLT-Light_gdi.eot");
@include font-face("futuralt-light", font-files("Serif12/Serif12Beta-Regular.woff", "Serif12/Serif12Beta-Regular.ttf", "Serif12/Serif12Beta-Regular.svg"), "Serif12/Serif12Beta-Regular.eot");
@import url();

// BODY STYLES


$h1: '';
$p: '';
$main-color: #FFF;

// BUTTONS STYLES




