/**
 * Style Template: 
 * Created by RichardL33
 * Date: 00/00/15
 */

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";
@import "normalize";
@import "breakpoint";
@import "_partials/_breakpoints.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";
@import "_partials/typography.scss";

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;

* {
@include box-sizing(border-box);

	// <-- GHOST CSS -->
	// background: #000 !important;
	// color: #0f0 !important;
	// outline: solid #f00 1px !important;

}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: url('../img/colored_background_1.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div,
section {
	@extend %clearfix;
}

a {
	text-decoration: none;
}

img {
	cursor: pointer;
}
.scroll_window::-webkit-scrollbar { width: 0 !important }
.scroll_window { -ms-overflow-style: none; }
.scroll_window { overflow: -moz-scrollbars-none; }

.inner_container {
	height: 100%;
    width: 100%;
    border: 1px solid green;
    // overflow: hidden;
}

.scroll_window {
	width: 100%;
    height: 99%;
    border: 1px solid blue;
    // overflow: auto;
}

.main_container {
	background-color: aqua;	
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	padding: 70px 0;
	width: 320px;
	// height: 460px;
	height: 375px;
	margin: 0 auto;
	@include breakpoint ($bp-mobile-landscape) {
		width: 466px;
		height: 412px;
	}
	@include breakpoint ($bp-tablet-portrait) {
		width: 768px;
		height: 574px;
	}
	@include breakpoint ($bp-tablet-landscape) {
		width: 971px;
		height: 718px;
	}
	@media screen and (min-width: 1200px) {
		width: 1152px;
		height: 720px;
	}
}

video {
	display: none;
 	width: 100%;
 	position: absolute;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	   -moz-transform: translateY(-50%);
 	    -ms-transform: translateY(-50%);
 	     -o-transform: translateY(-50%);
 	        transform: translateY(-50%);
}

// LOGO

#sok_logo {
	position: absolute;
	top: -44px;
	left: 0;
	width: 32px;
	@include breakpoint ($bp-mobile-landscape) {
		top: -44px;
		left: 0;
	}
	@include breakpoint ($bp-tablet-portrait) {
		top: -44px;
		left: 0;
	}
	@media screen and (min-width: 850px) {
		top: 248px;
		left: -20px;
	}
	@include breakpoint ($bp-tablet-landscape) {
		top: 320px;
		left: -20px;
	}
	@media screen and (min-width: 1200px) {
		left: -1.5%;
	}
}

// NAVIGATION

#menu_nav {
	position: absolute;
	bottom: -48px;
	right: 16px;
	ul {
		li {
			width: 20px;
			margin-bottom: 10px;
			cursor: pointer;
		}
	}
	@include breakpoint ($bp-mobile-landscape) {
		bottom: -48px;
		right: 16px;
	}
	@include breakpoint ($bp-tablet-portrait) {
		bottom: -48px;
		right: 16px;
	}
	@media screen and (min-width: 850px) {
		top: 248px;
		bottom: 0;
		right: -10px;
	}
	@include breakpoint ($bp-tablet-landscape) {
		top: 320px;
		bottom: 0;
		right: -10px;
	}
	@media screen and (min-width: 1200px) {
		right: -.85%;
	}
}

#menu_circle {
	height: 20px;
	background-color: #000;
	-webkit-border-radius: 10px;	
	        border-radius: 10px;
}

#menu_triangle {
	height: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid black;
}

#menu_square {
	height: 20px;
	background-color: #000;
	padding: 5px;
}

// SHOW BUTTONS

.button_wrap {
	display: none;
	position: relative;
	margin: 0 auto;
	width: 14%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	#show_off {
		z-index: 1;
	}
	#show_on {
		width: 89%;
		z-index: -1;
	}
	@media screen and (min-width: 850px) {
		top: 248px;
	}
	@include breakpoint ($bp-tablet-landscape) {
		top: 320px;
	}
}

// SHOW BUTTONS \\

// ANIMATED TEXT

.group_text_1 {
	display: block;
	position: relative;
	text-transform: uppercase;
	h2 {
		background-color: #000;
		font-size: 1.75em;
		color: #FFF;
		padding: 5px;
		width: 135px;
		position: absolute;
	}
	#animated_text_1 {
		top: 0;
		left: 0;
		@include breakpoint ($bp-tablet-portrait) {
			left: 140px;
		}
	}
	#animated_text_2 {
		top: 31px;
		left: 52px;
		@include breakpoint ($bp-tablet-portrait) {
			left: 195px;
		}
	}
	#animated_text_3 {
		top: 62px;
		left: 62px;
		@include breakpoint ($bp-tablet-portrait) {
			left: 210px;
		}
	}

	#animated_text_4 {
		position: absolute;
		width: 298px;
		top: 100px;
		left: 45px;
		@include breakpoint ($bp-tablet-portrait) {
			left: 195px;
		}
		#soks_text {
			font-size: 2.2em;
			@include breakpoint ($bp-tablet-portrait) {
				font-size: 3em;
				padding-bottom: 15px;
				width: 160px;
			}
			@include breakpoint ($bp-tablet-portrait) {
				width: 180px;
			}
		}
		#sok_underscore {
			background-color: #FFF;
			border-top: 5px solid black;
			border-bottom: 10px solid black;
			border-left: 12px solid black;
			border-right: 10px solid black;
			width: 120px;
			height: 22px;
			position: absolute;
			top: 38px;
			left: 15px;
			@include breakpoint ($bp-tablet-portrait) {
				width: 140px;
				top: 56px;
				left: 20px;
			}
			@include breakpoint ($bp-tablet-portrait) {
				width: 160px;
			}
		}
	}
}

.group_text_2 {
	position: relative;
	display: block;
	width: 100%;
	right: 0;
	text-align: right;
	h2 {
		background-color: #000;
		font-size: 1.35em;
		color: #FFF;
		padding: 5px;
		position: absolute;
		@include breakpoint ($bp-tablet-portrait) {
			font-size: 1em;
		}
	}
	#animated_text_5 {
		width: 160px;
		top: 0;
		left: 0;
		@include breakpoint ($bp-mobile-landscape) {
			left: auto;
			right: 130px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			padding-right: 15px;
			width: 127px;
			right: 290px;
		}
	}
	#animated_text_6 {
		width: 218px;
		top: 28px;
		left: 10px;
		@include breakpoint ($bp-mobile-landscape) {
			left: auto;
			right: 60px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			width: 166px;
			right: 230px;
			top: 20px;
		}
	}
	#animated_text_7 {
		width: 305px;
		top: 57px;
		left: 10px;
		@include breakpoint ($bp-mobile-landscape) {
			left: auto;
			right: 20px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			width: 251px;
			right: 145px;
			top: 43px;
		}
	}
	#animated_text_8 {
		z-index: -10;
		br {
			display: none;
		}
		span {
			padding: 0;
			@include breakpoint ($bp-mobile-landscape) {
				padding: 0 115px 0 20px;
			}
		}
		width: 230px;
		top: 86px;
		left: 0;
		@include breakpoint ($bp-tablet-portrait) {
			line-height: 22px;
			padding-top: 15px;
			padding-bottom: 0;
			top: 57px;
			left: 237px;
		}
	}
	#animated_text_9 {
		font-size: 1em;
		width: 220px;
		top: 112px;
		right: 0;
		@include breakpoint ($bp-mobile-landscape) {
			font-size: 1.35em;
			width: 290px;
			right: 67px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			font-size: 1em;
			width: 220px;
			right: 198px;
			top: 92px;
		}
	}
	#animated_text_10 {
		width: 300px;
		top: 134px;
		right: 0;
		@include breakpoint ($bp-mobile-landscape) {
			width: 457px;
			font-size: 1.2em;
			top: 140px;
			br {
				display: none;
			}
		}
		@include breakpoint ($bp-tablet-portrait) {
			font-size: 1em;
			width: 385px;
			top: 115px;
			right: 84px;
		}
	}
	#animated_text_11 {
		font-size: 0.97em;
		width: 318px;
		top: 185px;
		right: 0;
		@include breakpoint ($bp-mobile-landscape) {
			font-size: 1.35em;
			width: 437px;
			top: 169px;
			right: 31px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			font-size: 1em;
			padding-top: 0;
			width: 380px;
			top: 140px;
			left: 230px;
		}
	}
	#animated_text_12 {
		width: 290px;
		top: 211px;
		left: 0;
		text-align: center;
		@include breakpoint ($bp-mobile-landscape) {
			width: 320px;
			top: 195px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			width: 268px;
			top: 158px;
			left: 230px;
		}
	}
	#animated_text_13 {
		-webkit-transform: rotate(-90deg);
		   -moz-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		     -o-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		width: 210px;
		top: 320px;
		right: -70px;
		text-align: center;
		z-index: -100;
		@include breakpoint ($bp-mobile-landscape) {
			top: 293px;
			right: 45px;
		}
		@include breakpoint ($bp-tablet-portrait) {
			font-weight: bolder;
			width: 175px;
			top: 245px;
			right: 188px;
		}
	}
}

// ANIMATED TEXT \\















