/**
 * Style Template: 
 * Created by RichardL33
 * Date: 00/00/15
 */
@import url();
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "noto_sansbold";
  src: url('../fonts/Notosans/notosans-bold-webfont.eot?1406233798');
  src: url('../fonts/Notosans/notosans-bold-webfont.eot?&1406233798#iefix') format('embedded-opentype'), url('../fonts/Notosans/notosans-bold-webfont.woff?1406233800') format('woff'), url('../fonts/Notosans/notosans-bold-webfont.ttf?1406233800') format('truetype'), url('../fonts/Notosans/notosans-bold-webfont.svg?1406233798') format('svg'); }
@font-face {
  font-family: "noto_regular";
  src: url('../fonts/Notosans/notosans-regular-webfont.eot?1406233800');
  src: url('../fonts/Notosans/notosans-regular-webfont.eot?&1406233800#iefix') format('embedded-opentype'), url('../fonts/Notosans/notosans-regular-webfont.woff?1406233800') format('woff'), url('../fonts/Notosans/notosans-regular-webfont.ttf?1406233800') format('truetype'), url('../fonts/Notosans/notosans-regular-webfont.svg?1406233800') format('svg'); }
div,
section {
  *zoom: 1; }
  div:before,
  section:before, div:after,
  section:after {
    content: " ";
    display: table; }
  div:after,
  section:after {
    clear: both; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: url("../img/colored_background_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a {
  text-decoration: none; }

img {
  cursor: pointer; }

.scroll_window::-webkit-scrollbar {
  width: 0 !important; }

.scroll_window {
  -ms-overflow-style: none; }

.scroll_window {
  overflow: -moz-scrollbars-none; }

.inner_container {
  height: 100%;
  width: 100%;
  border: 1px solid green; }

.scroll_window {
  width: 100%;
  height: 99%;
  border: 1px solid blue; }

.main_container {
  background-color: aqua;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 70px 0;
  width: 320px;
  height: 375px;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .main_container {
      width: 466px;
      height: 412px; } }
  @media (min-width: 768px) {
    .main_container {
      width: 768px;
      height: 574px; } }
  @media (min-width: 1024px) {
    .main_container {
      width: 971px;
      height: 718px; } }
  @media screen and (min-width: 1200px) {
    .main_container {
      width: 1152px;
      height: 720px; } }

video {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

#sok_logo {
  position: absolute;
  top: -44px;
  left: 0;
  width: 32px; }
  @media (min-width: 480px) {
    #sok_logo {
      top: -44px;
      left: 0; } }
  @media (min-width: 768px) {
    #sok_logo {
      top: -44px;
      left: 0; } }
  @media screen and (min-width: 850px) {
    #sok_logo {
      top: 248px;
      left: -20px; } }
  @media (min-width: 1024px) {
    #sok_logo {
      top: 320px;
      left: -20px; } }
  @media screen and (min-width: 1200px) {
    #sok_logo {
      left: -1.5%; } }

#menu_nav {
  position: absolute;
  bottom: -48px;
  right: 16px; }
  #menu_nav ul li {
    width: 20px;
    margin-bottom: 10px;
    cursor: pointer; }
  @media (min-width: 480px) {
    #menu_nav {
      bottom: -48px;
      right: 16px; } }
  @media (min-width: 768px) {
    #menu_nav {
      bottom: -48px;
      right: 16px; } }
  @media screen and (min-width: 850px) {
    #menu_nav {
      top: 248px;
      bottom: 0;
      right: -10px; } }
  @media (min-width: 1024px) {
    #menu_nav {
      top: 320px;
      bottom: 0;
      right: -10px; } }
  @media screen and (min-width: 1200px) {
    #menu_nav {
      right: -.85%; } }

#menu_circle {
  height: 20px;
  background-color: #000;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#menu_triangle {
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black; }

#menu_square {
  height: 20px;
  background-color: #000;
  padding: 5px; }

.button_wrap {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 14%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .button_wrap img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; }
  .button_wrap #show_off {
    z-index: 1; }
  .button_wrap #show_on {
    width: 89%;
    z-index: -1; }
  @media screen and (min-width: 850px) {
    .button_wrap {
      top: 248px; } }
  @media (min-width: 1024px) {
    .button_wrap {
      top: 320px; } }

.group_text_1 {
  display: block;
  position: relative;
  text-transform: uppercase; }
  .group_text_1 h2 {
    background-color: #000;
    font-size: 1.75em;
    color: #FFF;
    padding: 5px;
    width: 135px;
    position: absolute; }
  .group_text_1 #animated_text_1 {
    top: 0;
    left: 0; }
    @media (min-width: 768px) {
      .group_text_1 #animated_text_1 {
        left: 140px; } }
  .group_text_1 #animated_text_2 {
    top: 31px;
    left: 52px; }
    @media (min-width: 768px) {
      .group_text_1 #animated_text_2 {
        left: 195px; } }
  .group_text_1 #animated_text_3 {
    top: 62px;
    left: 62px; }
    @media (min-width: 768px) {
      .group_text_1 #animated_text_3 {
        left: 210px; } }
  .group_text_1 #animated_text_4 {
    position: absolute;
    width: 298px;
    top: 100px;
    left: 45px; }
    @media (min-width: 768px) {
      .group_text_1 #animated_text_4 {
        left: 195px; } }
    .group_text_1 #animated_text_4 #soks_text {
      font-size: 2.2em; }
      @media (min-width: 768px) {
        .group_text_1 #animated_text_4 #soks_text {
          font-size: 3em;
          padding-bottom: 15px;
          width: 160px; } }
      @media (min-width: 768px) {
        .group_text_1 #animated_text_4 #soks_text {
          width: 180px; } }
    .group_text_1 #animated_text_4 #sok_underscore {
      background-color: #FFF;
      border-top: 5px solid black;
      border-bottom: 10px solid black;
      border-left: 12px solid black;
      border-right: 10px solid black;
      width: 120px;
      height: 22px;
      position: absolute;
      top: 38px;
      left: 15px; }
      @media (min-width: 768px) {
        .group_text_1 #animated_text_4 #sok_underscore {
          width: 140px;
          top: 56px;
          left: 20px; } }
      @media (min-width: 768px) {
        .group_text_1 #animated_text_4 #sok_underscore {
          width: 160px; } }

.group_text_2 {
  position: relative;
  display: block;
  width: 100%;
  right: 0;
  text-align: right; }
  .group_text_2 h2 {
    background-color: #000;
    font-size: 1.35em;
    color: #FFF;
    padding: 5px;
    position: absolute; }
    @media (min-width: 768px) {
      .group_text_2 h2 {
        font-size: 1em; } }
  .group_text_2 #animated_text_5 {
    width: 160px;
    top: 0;
    left: 0; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_5 {
        left: auto;
        right: 130px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_5 {
        padding-right: 15px;
        width: 127px;
        right: 290px; } }
  .group_text_2 #animated_text_6 {
    width: 218px;
    top: 28px;
    left: 10px; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_6 {
        left: auto;
        right: 60px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_6 {
        width: 166px;
        right: 230px;
        top: 20px; } }
  .group_text_2 #animated_text_7 {
    width: 305px;
    top: 57px;
    left: 10px; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_7 {
        left: auto;
        right: 20px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_7 {
        width: 251px;
        right: 145px;
        top: 43px; } }
  .group_text_2 #animated_text_8 {
    z-index: -10;
    width: 230px;
    top: 86px;
    left: 0; }
    .group_text_2 #animated_text_8 br {
      display: none; }
    .group_text_2 #animated_text_8 span {
      padding: 0; }
      @media (min-width: 480px) {
        .group_text_2 #animated_text_8 span {
          padding: 0 115px 0 20px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_8 {
        line-height: 22px;
        padding-top: 15px;
        padding-bottom: 0;
        top: 57px;
        left: 237px; } }
  .group_text_2 #animated_text_9 {
    font-size: 1em;
    width: 220px;
    top: 112px;
    right: 0; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_9 {
        font-size: 1.35em;
        width: 290px;
        right: 67px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_9 {
        font-size: 1em;
        width: 220px;
        right: 198px;
        top: 92px; } }
  .group_text_2 #animated_text_10 {
    width: 300px;
    top: 134px;
    right: 0; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_10 {
        width: 457px;
        font-size: 1.2em;
        top: 140px; }
        .group_text_2 #animated_text_10 br {
          display: none; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_10 {
        font-size: 1em;
        width: 385px;
        top: 115px;
        right: 84px; } }
  .group_text_2 #animated_text_11 {
    font-size: 0.97em;
    width: 318px;
    top: 185px;
    right: 0; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_11 {
        font-size: 1.35em;
        width: 437px;
        top: 169px;
        right: 31px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_11 {
        font-size: 1em;
        padding-top: 0;
        width: 380px;
        top: 140px;
        left: 230px; } }
  .group_text_2 #animated_text_12 {
    width: 290px;
    top: 211px;
    left: 0;
    text-align: center; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_12 {
        width: 320px;
        top: 195px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_12 {
        width: 268px;
        top: 158px;
        left: 230px; } }
  .group_text_2 #animated_text_13 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 210px;
    top: 320px;
    right: -70px;
    text-align: center;
    z-index: -100; }
    @media (min-width: 480px) {
      .group_text_2 #animated_text_13 {
        top: 293px;
        right: 45px; } }
    @media (min-width: 768px) {
      .group_text_2 #animated_text_13 {
        font-weight: bolder;
        width: 175px;
        top: 245px;
        right: 188px; } }
